.Button-Form {
    background: #ed145b !important;
    border: none;
    color: #FFF;
    cursor: pointer;
    display: block;
    font: 14px 'Gotham HTF Bold';
    height: 50px;
    letter-spacing: 1px;
    outline: none;
    text-transform: uppercase;
    transition: all .4s;
    width: 100%;
    -webkit-appearance: none;
}

.Button-Form:hover {
    background: #fff !important;
    color: #ed145b !important;
    opacity: 1;
}

.Button {
    background: #ed145b !important;
    border: none;
    color: #FFF;
    cursor: pointer;
    font: 14px 'Gotham HTF Bold';
    height: 50px;
    letter-spacing: 1px;
    outline: none;
    text-transform: uppercase;
    transition: all .4s;
    /*width: 100%;*/
    -webkit-appearance: none;
    text-decoration: none;
}

.Button:hover {
    background: #fff !important;
    color: #ed145b !important;
    opacity: 1;
}

.List {
    list-style: none;
}

.Back-Button {
    position: fixed;
    left: 2%;
    top: 4%;
    transform: translate(-50%, -50%);
    max-width: 320px;
    border: none;
    color: #FFF;
    transition: all .4s;
}


.Back-Button:hover {
    color: #ed145b !important;
    opacity: 1;
}

.Box-Cards {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    max-width: 1500px;
    position: fixed;
    top: 10%;
    left: 10%;
    right: 5%;
}